header {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikal zentriert */
  align-items: center;     /* Horizontal zentriert */
  min-height: 100vh;       /* Nutzt die volle Bildschirmhöhe */
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main-heading {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.main-heading h1 {
  font-size: 50px
}

.main-heading p {
  color: rgb(0, 0, 0);
}
.main-heading a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
  color: rgb(77, 77, 77);
}

li {
  padding-right: 40px;
}